* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    font-family: sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

button {
    cursor: pointer;
}

#logoMoblie {
    display: none;
}

#menuBar {
    display: none;
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
#headerTop {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

#xBtn {
    display: none;
}

#logo {
    width: 400px;
    height: 60px;
}

#headerTop>nav {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    width: 380px;
    font-size: 16px;
}

nav>ul>div {
    color: #aaa;
}

#headerUnder {
    border-top: 1px solid rgb(225, 225, 225);
    margin-top: 30px;
}

#headerUnder>ul {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#headerUnder>ul li {
    position: relative;
}

.subMenu {
    position: absolute;
    width: 180px;
    display: none;
    z-index: 99999;
    margin-top: 10px;
}

.subMenu li {
    padding: 10px;
    background-color: #635449;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    border-bottom: 1px solid #aaa;
}

#headerUnder > ul > li > div {
    cursor: pointer;
}

/* visual */
#visual {
    margin-top: 20px;
    background-image: url('../resources/img/visual.jpg');
    width: 100%;
    height: 700px;
    position: relative;
}

#visual-txt {
    width: 500px;
    margin-left: 20%;
    position: absolute;
    margin-top: 250px;
}

#visual-info {
    width: 100%;
    margin-top: 507px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
}

#visual-info>ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#visual-info>ul>li>a>div {
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

/* visual End */

/* section1 */
#section1 {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#help {
    width: 500px;
    background-color: #f5f5f5;
    border: 1px solid #d7d7d7;
    padding-top: 40px;
    height: 220px;
}

#help>div {
    text-align: center;
}

#help>div:nth-child(1) {
    font-size: 25px;
    letter-spacing: -1px;
}

#help>div:nth-child(1)>span {
    font-weight: bold;
    font-size: 27px;
}

#help>div:nth-child(2) {
    margin-top: 10px;
    font-size: 37px;
    font-weight: bold;
}

#help>div:nth-child(2)>span {
    font-size: 32px;
}

#help>div:nth-child(3) {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(100, 100, 100);
}

#business {
    height: 220px;
}

#business>ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

#business>ul>li {
    width: 220px;
    height: 220px;
}

#business>ul>li:nth-child(1) {
    background-color: #FFB611;
}

#business>ul>li:nth-child(2) {
    background-color: #FF5E3C;
}

#business>ul>li:nth-child(3) {
    background-color: #FF8144;
}

#business>ul>li>a>h3 {
    text-align: center;
    padding-top: 45px;
    color: white;
    font-size: 22px;
    text-align: center;
}

#business>ul>li>a>h3::after {
    content: '';
    display: block;
    height: 30px;
    width: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin: 8px auto 8px;
}

#business>ul>li>a>p {
    font-size: 15px;
    color: white;
    text-align: center;
}

/* section1 End */

/* section2 */

#section2 {
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}

#section2 > div {
    display: grid;
    gap: 10px;
}

#section2 > div:nth-child(1) {
    grid-template-columns: 1.5fr 1fr 1fr;
}

#section2 > div:nth-child(2) {
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#section2 > div > div img {
    width: 100%;
    height: 100%;
}

#section2 > div > div {
    border: 1px solid #ff5c3c2e;
    border-radius: 2px;
    overflow: hidden;
    height: 220px;
}

#galleryInfo {
    position: relative;
    background-color: #FF8144;
}

#galleryInfo > h3 {
    margin: auto;
    text-align: center;
    margin-top: 35px;
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
    width: 200px;
    padding-bottom: 15px;
}

#galleryInfo > p {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

#galleryInfo button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    color: #FF5E3C;
    font-size: 15px;
    font-weight: bold;
}

/* section2 End */

/* section3 */

#section3 {
    margin-top: 100px;
    background-color: #FF8144;
}

#sec3Inner {
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 150px;
    position: relative;
}

#sec3Inner > h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

#sec3Inner > p {
    text-align: center;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}

#sec3Main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sec3Detail {
    width: 23%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.sec3Detail > h3 {
    color: #333;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec3Detail > div {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(43, 43, 43, 0.543);
}

.sec3Detail > div > span {
    font-weight: lighter;
    font-size: 13px;
    color: rgba(43, 43, 43, 0.543);
}

.sec3Detail button {
    margin-top: 20px;
    width: 75px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #FF5E3C;
    border-radius: 2px;
    border: 1px solid #FF5E3C;
    background-color: white;
}

#sec3Inner > a > button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #FF5E3C;
    border-radius: 2px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

.sec3Detail:hover {
    transform: translate(-10px, 10px);
}

/* section3 End */


/* footer */
footer {
    background-color: #302E2C;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
    width: 1200px;
    margin: auto;
}

#footer>nav>ul {
    display: flex;
    justify-content: space-between;
    width: 750px;
    font-size: 16px;
}

#footer>nav>ul>li {
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#footer>nav>ul>li:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

#footer>div:nth-child(3) {
    font-size: 14px;
    color: #a5a5a5;
    margin-top: 15px;
}

#footer>div:nth-child(4) {
    font-size: 14px;
    color: #a5a5a5;
    margin-top: 15px;
}

/* footer End */

/* subVisual */
#subVisual {
    background-image: url('../resources/img/subVisual.jpg');
    height: 310px;
    margin-top: 20px;
}

#sub-visual-txt {
    position: absolute;
    width: 350px;
    margin-top: 80px;
    margin-left: 21%;
}

#pageUrl {
    margin-top: 180px;
    font-size: 13px;
    margin-left: 21.2%;
    position: absolute;
}

#pageUrl>span {
    font-size: 14px;
    color: #4E73A6;
}

/* subVisual End */

/* login */
#login {
    margin: auto;
    width: 400px;
    margin-top: 80px;
    padding-bottom: 80px;
}

#login>h2 {
    text-align: center;
    font-size: 35px;
}

#loginArea>input {
    width: 100%;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 1px;
}

#loginArea>input:nth-child(1) {
    margin-top: 30px;
}

#loginArea>input:nth-child(2) {
    margin-top: 20px;
}

#loginArea>input::placeholder {
    padding-left: 10px;
}

#loginArea>button {
    width: 100%;
    margin-top: 20px;
    background-color: #FF5E3C;
    line-height: 2.2;
    border: 1px solid #FF5E3C;
    border-radius: 1px;
    font-size: 15px;
    color: white;
}

#loginHelp>ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    width: 330px;
    font-size: 14px;
}

#loginHelp>ul>li {
    color: #FF5E3C;
    font-weight: bold;
}

/* login end */

/* join */

#joinIntro {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#joinIntro>h2 {
    text-align: center;
    font-size: 35px;
}

#joinProcess {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#joinProcess>div {
    width: 50%;
    display: flex;
    border: 1px solid rgba(200, 200, 200, .4);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 4px solid rgb(200, 200, 200);
}

#joinProcess>div:nth-child(1) {
    border-right: none;
}

.joinNow::before {
    content: '';
    display: inline-block;
    width: 36px;
    height: 26px;
    background: url(../resources/img/step_check.png) 0 -45px no-repeat;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 10px;
}

.joinFu::before {
    content: '';
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    width: 36px;
    height: 26px;
    background: url(../resources/img/step_check.png) no-repeat;
    overflow: hidden;
}

#joinProcess>div>div {
    margin-left: 20px;
}

#joinProcess>div>div>span {
    margin-top: 20px;
    font-size: 13px;
    color: #7b7b7b;
}

#joinProcess>div>div>h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #7b7b7b;
}

#joinCertified {
    margin-top: 40px;
}

#certifiedTitle {
    width: 50%;
    background-color: #AEAEAE;
    color: white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    line-height: 2.2;
    font-weight: bold;
}

#certifiedMain {
    display: flex;
}

#certifiedMain>div {
    width: 50%;
    border: 1px solid #AEAEAE;
    border-bottom: none;
}

#certifiedMain>div:nth-child(2) {
    border-left: none;
}

.certifiedHow {
    background-color: #F7F7F7;
    color: #7b7b7b;
    font-size: 17px;
    padding: 15px 25px;
    font-weight: bold;
}

.certifiedInput {
    display: flex;
}

.certifiedInput>form {
    width: 50%;
    border: 1px solid #AEAEAE;
    border-top: none;
    padding-bottom: 35px;
}

.certifiedInput>form:nth-child(2) {
    border-left: none;
}

.certifiedInput>form>div {
    margin: 15px 25px;
    display: flex;
}

.certifiedInput>form>div>div:nth-child(1) {
    width: 25%;
    font-size: 12px;
    color: #7b7b7b;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.joinInput {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.joinInput input {
    border: 1px solid rgb(200, 200, 200);
    width: 65%;
    height: 35px;
}

.joinInput input::placeholder {
    padding-left: 10px;
    font-size: 11px;
}

.certifiedInput>form>div button {
    width: 33%;
}

.joinInput button {
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
}

.certifiedNum {
    background-color: #FF5E3C;
    border: 1px solid #FF5E3C;
    color: white;
}

.certifiedCheck {
    background-color: #aeaeae;
    border: 1px solid #aeaeae;
    color: white;
}

#joinInfoTxt {
    color: #999;
    font-size: 13px;
    margin: 15px 0 50px;
    padding-left: 5px;
}

#joinInfoTxt>span {
    color: #fb7063;
    font-weight: bold;
}

#terms {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

#allCheck {
    width: 20px;
}

#allTermsOk {
    cursor: pointer;
}

.checkBox {
    display: none;
}

.checkLook {
    position: relative;
}

.checkLook > img {
    position: absolute;
}

.activeInCheck {
    display: none;
}

.checkBox:checked ~ .checkLook > .activeInCheck {
    display: block;
}

#terms label {
    margin-left: 30px;
    cursor: pointer;
}

#allTermsOk label {
    font-size: 17px;
    color: #7B7B7B;
    font-weight: bold;
    letter-spacing: -1px;
}

.termsTitle label {
    font-size: 14px;
    color: #7B7B7B;
    font-weight: bold;
}

#termsBox {
    border: 1px solid #e3e3e3;
    padding: 20px;
    margin-top: 15px;
}

.terms1InfoTxt {
    border: 1px solid #AEAEAE;
    margin-bottom: 40px;
    height: 100px;
    margin-top: 10px;
    overflow: auto;
    font-size: 13px;
}

.termsTable {
    margin-top: 10px;
}

.termsTable > div {
    display: flex;
}

.termsTable > div > div {
    width: 27%;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-right: 0;
}

.termsTable > div > div:nth-child(4) {
    border-right: 1px solid #c1c1c1;
}

.termsTable > div:nth-child(1) > div {
    padding: 15px 0px;
    color: #FF5E3C;
    font-size: 13px;
    font-weight: bold;
}

.termsTable > div > div:nth-child(1) {
    width: 15%;
}

.termsTable > div:nth-child(2) > div {
    border-top: none;
    padding: 15px;
    font-size: 12px;
    line-height: 1.7em;
    text-align: left;
    color: #434343;
}

#joinNextBtn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 3px;
    padding-bottom: 60px;
}

#joinNextBtn button {
    width: 125px;
    height: 35px;
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
}

.joinYes {
    background-color: #FF5E3C;
    border: 1px solid #FF5E3C;
}

.joinNo {
    background-color: #7B7B7B;
    border: 1px solid #7B7B7B;
}

/* join end */

/* join2 */
#joinMainContent {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

#joinMainContent > h2 {
    text-align: center;
    font-size: 35px;
}

#joinInputTitle {
    margin-top: 30px;
    color: #7b7b7b;
    font-size: 17px;
    font-weight: bold;
}

#joinInputArea {
    border: 1px solid #ececec;
    padding: 10px 0px;
    padding: 25px;
    margin-top: 10px;
}

#joinInputArea > div {
    display: flex;
    margin-bottom: 20px;
}

#joinInputArea > div > div:nth-child(1) {
    width: 22%;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}

#joinInputArea > div > div:nth-child(2) {
    width: 76%;
    display: inline-block;
}

#joinInputArea > div > div:nth-child(2) input {
    border: 1px solid #e3e3e3;
    height: 35px;
    width: 200px;
}

#joinInputArea > div > div:nth-child(2) button {
    background-color: #FF5E3C;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    padding: 0px 10px;
    border: 1px solid #FF5E3C;
    margin-left: 10px;
}

/* join2 end */

/* notice */
#notice {
    width: 1200px;
    margin: auto;
    margin-top: 65px;
}

#notice > h2 {
    text-align: center;
    font-size: 40px;
}

#noticeContent {
    margin-bottom: 60px;
    padding: 0px 0px 80px;
    min-height: 400px;
    margin-top: 20px;
}

#noticeMainContent {
    margin-top: 20px;
    border-bottom: 1px solid #8F8F8F;

}

.noticeColumn {
    display: flex;
    justify-content: space-between;
}

#noticeTitle {
    border-top: 1px solid #8F8F8F;
    background-color: #FAFAFA;
    font-size: 15px;
    font-weight: bold;
}

.noticeColumn > div {
    color: inherit;
    text-align: center;
    padding: 10px 0;
}

.noticeColumn > div:nth-child(1) {
    width: 9%;
}

.noticeColumn > div:nth-child(2) {
    width: 45%;
}

.noticeColumn > div:nth-child(3) {
    width: 8%;
}

.noticeColumn > div:nth-child(4) {
    width: 10%;
}

.noticeColumn > div:nth-child(5) {
    width: 8%;
}

.noticeColumn > div:nth-child(6) {
    width: 8%;
}

.noticeLook {
    font-weight: lighter;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #EFEFEF;
    transition: all .5s;
    cursor: pointer;
}

.noticeLook:hover {
    background-color: #F5F5F5;
}

.noticeLook:hover .title {
    color: #FFB611;
}

/* notice end */

/* 이용절차 및 비용안내 */

#howTouse {
    width: 1200px;
    margin: auto;
    margin-top: 65px;
}

#howTouse > h2 {
    font-size: 40px;
    text-align: center;
}

#howToUseMain {
    padding: 40px;
    padding-top: 60px;
}

.mainTitle {
    background-color: #FF5E3C;
    width: 180px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-radius: 30px;
    padding: 1px 0 3px;
    margin-bottom: 5px;
    font-weight: bold;
}

#howToUseImg {
    margin: 30px 0 100px 0;
    text-align: center;
}

#howToUseSubInfo {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -1px;
    margin: 10px 0 10px;
}

#howTouse table {
    width:100%;
    border-collapse: collapse;
    border-top: 2px solid #ff8400;
    border-left: 1px solid #dfdfdf;
    margin: 30px 0;
    background: #fff;
}

.td {
    font-size: 15px;
    padding: 10px 7px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    color: #595959;
}

#howTouse table th {
    font-size: 15px;
    padding: 10px 7px;
    background-color: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    font-weight: 600;
}

.howToUseInfo {
    color: #ff3c00;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 1.8;
    margin: 10px 0 10px;
}

/* 이용절차 및 비용안내 end */

/* 서비스 내용 */

#service {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#service > h2 {
    text-align: center;
    font-size: 40px;
}

#serviceContent {
    padding: 40px;
}

.serviceInfo {
    color: #754c24;
    font-size: 15px;
    line-height: 1.8;
    margin: 10px 0 10px;
    font-weight: bold;
}

#service table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #ff8400;
    border-left: 1px solid #dfdfdf;
    margin: 30px 0;
    background: #fff;
}

#service table th {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    font-weight: 600;
}

#service table td {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    color: #595959;
    font-weight: normal;
}

#service table td:last-child {
    text-align: left;
}

#nurseInfo {
    margin-top: 30px;
}

#nurseInfo p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 1.8;
    color: #414141;
    margin: 10px 0 10px;
}

/* 서비스 내용 end */

/* 입소절차 및 비용안내 */
#howTouse2 {
    width: 1200px;
    margin: auto;
    margin-top: 65px;
}

#howTouse2 > h2 {
    font-size: 40px;
    text-align: center;
}

#howTouse2 table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #ff8400;
    border-left: 1px solid #dfdfdf;
    margin: 30px 0;
    background: #fff;
}

#howTouse2 table th {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
}

#howTouse2 table td {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    color: #595959;
}

/* 입소절차 및 비용안내 end */

/* 주간정기일과표 */

#schedule {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#schedule > h2 {
    text-align: center;
    font-size: 40px;
}

#scheduleMain {
    padding: 40px;
}

#schedule table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #ff8400;
    border-left: 1px solid #dfdfdf;
    margin: 30px 0;
    background: #fff;
}

#schedule table td {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
    color: #595959;
}

#schedule table th {
    font-size: 15px;
    padding: 10px 7px;
    letter-spacing: -0.6px;
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-width: 0px 1px 1px 0;
}

/* 주간정기일과표 end */

/* album */

#album {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 40px;
}

#album > h2 {
    text-align: center;
    font-size: 40px;
}

#albumList {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #8f8f8f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.albumDetail {
    width: 100%;
    position: relative;
    height: 260px;
    overflow: hidden;
}

.albumDetail > img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    position: absolute;
}

.albumTxt {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin-top: 290px;
    transition: margin-top .5s;
    width: 100%;
}

.albumTxt > div:nth-child(1) {
    color: #FB6E61;
    font-size: 16px;
}

.albumTxt > div:nth-child(2) {
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
}

.albumTxt > div:nth-child(3) {
    color: rgb(198, 198, 198);
    font-size: 12px;
    margin-top: 10px;
}

.albumDetail:hover .albumTxt {
    margin-top: 180px;
}

/* album end */

/* 앨범 상세보기 */

#albumDetailShow {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#albumDetailShow > h2 {
    text-align: center;
    font-size: 40px;
}

#albumTitleInfo {
    margin-top: 20px;
    border-top: 1px solid #8F8F8F;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #EFEFEF;
}

#albumTitleInfo .not {
    font-weight: lighter;
}

#albumTitleInfo > div {
    display: flex;
}
#albumTitleInfo > div > div {
    padding: 10px 17px;
}

#albumTitleInfo > div:nth-child(1), #albumTitleInfo > div:nth-child(2) {
    background-color: #F4F4F4;
}

#albumTitleInfo > div:nth-child(1) > div:nth-child(1) {
    width: 15%;
}

#albumTitleInfo > div:nth-child(1) > div:nth-child(2) {
    width: 85%;
}

#albumTitleInfo > div:nth-child(2) > div:nth-child(1) {
    width: 15%;
}

#albumTitleInfo > div:nth-child(2) > div:nth-child(2) {
    width: 50%;
}

#albumTitleInfo > div:nth-child(2) > div:nth-child(3) {
    width: 15%;
}

#albumTitleInfo > div:nth-child(2) > div:nth-child(4) {
    width: 20%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(1) {
    width: 15%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(2) {
    width: 45%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(3) {
    width: 10%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(4) {
    width: 10%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(5) {
    width: 10%;
}

#albumTitleInfo > div:nth-child(3) > div:nth-child(6) {
    width: 20%;
}

/* 앨범 상세보기 end */

/* 인사말 */

#introduce {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#introduce > h2 {
    text-align: center;
    font-size: 40px;
}

#introduceMain {
    margin-top: 20px;
}

#introduceImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#introduceP1 {
    font-weight: 400;
    font-size: 40px;
    color: #ff9447;
    text-align: center;
    margin-top: 30px;
}

#introduceP1::after {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #ff9447;
    margin: 10px auto;
}

#introduceP2 {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 1.8;
    color: #414141;
    text-align: center;
}

#introduceP3 {
    text-align: center;
    margin-top: 30px;
    color: #814509;
    font-size: 25px;
}

#introduceP3 > span {
    font-weight: bold;
    color: #814509;
}

#introduceP4 {
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 1.8;
    color: #414141;
    text-align: center;
    margin-top: 15px;
}
/* 인사말 end */

/* 연혁 */

#history {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

#history > h2 {
    text-align: center;
    font-size: 40px;
}

#historyMain {
    margin-top: 50px;
}

.yearSort {
    display: flex;
    margin-bottom: 40px;
}

.historyYear {
    width: 30%;
    font-size: 45px;
    font-weight: bold;
}

.historyYearList {
    width: 70%;
}

.historyMonth {
    font-size: 28px;
    color: #8c8b6f;
    margin-bottom: 10px;
    font-weight: bold;
}

.historyList {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.historyList > div {
    font-size: 16px;
    line-height: 1.4;
    color: #555;
}

/* 연혁 end */

/* 오시는 길 */

#rootShow {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 30px;
}

#rootShow > h2 {
    text-align: center;
    font-size: 40px;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

#rootInfo {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#rootInfo > div {
    width: 48%;
}

#rootInfo > div > div:nth-child(1) {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    position: relative;
}

#rootInfo > div > div:nth-child(1)::after {
    display: block;
    content: '';
    background: #ff7a00;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

#rootInfo > div > div:nth-child(2) {
    font-size: 14.5px;
    line-height: 1.5em;
    padding: 10px 0;
}


/* 오시는 길 end */

/* 관리자 */
#adminLogin {
    width: 400px;
    margin: auto;
    margin-top: 300px;
}

#adminLogin >h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

#adminLoginMain {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#adminLoginMain > input {
    border: 1px solid #aaa;
    height: 35px;
    border-radius: 2px;
    margin-bottom: 20px;
}

#adminLoginMain > input::placeholder {
    padding-left: 8px;
}

#adminLoginMain > button {
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF5E3C;
    border: 1px solid #FF5E3C;
    color: white;
    border-radius: 2px;
}

/* 관리자 end */


.pw_check {
    display: flex;
    align-items: center;
    margin-left: -590px;
    font-size: 15px;
    color: rgba(255, 0, 0, 0.5);
    display: none;
}

/* 관리자 메인 */

#adminPage {
    position: relative;
    display: flex;
}

#adminRight section > h2 {
    font-size: 30px;
}

#adminLeft {
    width: 300px;
}

#adminRight {
    width: calc(100% - 300px);
}

#adminRight > h2 {
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

#adminMenu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: #FF5E3C;
}

.adminMenu li {
    padding: 15px;
    color: #fff;
    font-size: 16px;
    transition: all .5s;
    cursor: pointer;
}

.adminMenu li:hover {
    color: #ff3c00;
    background-color: rgb(246, 246, 246);
    font-weight: bold;
}
#adminMenu1 li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#adminMenu2 {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#adminMenu2 li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.adminMenu li.active {
    color: #ff3c00;
    background-color: white;
    font-weight: bold;
}

#noticeWrite {
    width: 1200px;
    margin: auto;
    border-bottom: 1px solid #aaa;
    padding-bottom: 40px;
}

#noticeWrite > h2 {
    margin-top: 20px;
    text-align: center;
}

#noticeWriteMain {
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

#noticeWriteMain > div {
    display: flex;
}

#noticeWriteMain > div > div:nth-child(1) {
    width: 30%;
    display: flex;
    align-items: center;
    font-size: 15px;
}

#noticeWriteMain > div > input {
    width: 70%;
    height: 35px;
    border: 1px solid #aaa;
    color: rgb(105, 105, 105);
    font-size: 16px;
}

#noticeWriteMain > div:nth-child(2) {
    margin-top: 30px;
}

#noticeWriteMain > div > label {
    width: 120px;
    line-height: 2.2;
    background-color: #FF5E3C;
    text-align: center;
    color: white;
    border-radius: 2px;
    font-weight: bold;
}

#noticeWriteMain > button {
    margin-top: 40px;
    margin-left: 30%;
    width: 180px;
    line-height: 2.2;
    background-color: #FF5E3C;
    text-align: center;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    border: 1px solid #FF5E3C;
}

#noticeWriteMain > div:nth-child(3) {
    margin-top: 30px;
} 

#noticeWriteMain > div:nth-child(3) > textarea {
    width: 70%;
    height: 70px;
    border: 1px solid #aaa;
    resize: none;
    color: rgb(105, 105, 105);
    font-size: 16px;
    letter-spacing: 2px;
}

.not a {
    margin-left: 20px;
    color: #4E73A6;
    font-weight: bold;
}

#albumTxt {
    padding: 20px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 14px;
    line-height: 1.8;
    font-weight: lighter;
    position: relative;
}

#removeBtn {
    margin-left: 80%;
    width: 120px;
}

#removeBtn > button {
    width: 120px;
    line-height: 2;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(255, 0, 0, 0.4);
    border-radius: 4px;
    margin-top: 20px;
}

/* 관리자 메인 end */

/* staff */

#staffSearch {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#staffSearch > h2 {
    text-align: center;
    font-size: 40px;
}

#staffSearchZone {
    margin-top: 15px;
}

#staffSearchZone > div {
    font-size: 15px;
    font-weight: bold;
}

#staffSearchZone input {
    width: 220px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#staffSearchZone button {
    width: 110px;
    height: 30px;
    margin-top: 10px;
    background-color: #FF5E3C;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid #FF5E3C;
    border-radius: 2px;
    margin-left: 5px;
}

.staffSearchList {
    margin-top: 30px;
    border-bottom: 1px solid #8F8F8F;
}

.staffSearchList > div, .staffSearchList > form > div {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 15px;
    border-bottom: 1px solid #EFEFEF;
}

.searchListTop {
    background-color: #FAFAFA;
    border-top: 1px solid #8F8F8F;
}

.staffSearchList div > div:nth-child(1) {
    width: 8%;
}
.staffSearchList div > div:nth-child(2) {
    width: 5%;
}
.staffSearchList div > div:nth-child(3) {
    width: 12%;
}
.staffSearchList div > div:nth-child(4) {
    width: 4%;
}
.staffSearchList div > div:nth-child(5) {
    width: 12%;
}
.staffSearchList div > div:nth-child(6) {
    width: 10%;
}
.staffSearchList div > div:nth-child(7) {
    width: 4%;
}
.staffSearchList div > div:nth-child(8) {
    width: 6%;
}
.staffSearchList div > div:nth-child(9) {
    width: 5%;
}
.staffSearchList div > div:nth-child(10) {
    width: 12%;
}
.staffSearchList div > div:nth-child(11) {
    width: 10%;
}
.staffSearchList div > div:nth-child(12) {
    width: 6%;
}

.staffSearchList div button {
    background-color: #FF5E3C;
    color: white;
    border: 1px solid #FF5E3C;
    width: 90%;
    height: 20px;
    border-radius: 2px;
}

.staffSearchList div > div {
    text-align: center;
}

#staffControl {
    width: 1200px;
    margin: auto;
    margin-top: 80px;
}

#staffControl > h2 {
    text-align: center;
    font-size: 30px;
}

.noSearch {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #FFB611;
}

/* staff end */

/* Q&A */

#question {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#question > h2 {
    text-align: center;
    font-size: 40px;
}

#questionBtn {
    width: 110px;
    height: 30px;
    border: 1px solid #FF5E3C;
    background-color: #FF5E3C;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.answerColumn {
    padding: 20px;
    display: none;
    border-bottom: 1px solid #aaa;
}

.questionTxt {
    line-height: 1.2;
    font-size: 15px;
}

.questionTxt > span, .answerTxt > span {
    font-weight: bold;
    line-height: 2;
    color: #aaa;
}

.answerTxt > span {
    color: #FF5E3C;
}

.answerTxt {
    line-height: 1.2;
    font-size: 15px;
    margin-top: 15px;
}

#answerArea {
    padding: 20px;
}

#answerArea textarea {
    width: 400px;
    height: 100px;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#answerArea > button {
    width: 120px;
    height: 30px;
    background-color: #4E73A6;
    border: 1px solid #4E73A6;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
}

/* Q&A end */

#recommandBtn {
    background-color: #FF5E3C;
    border: 1px solid #FF5E3C;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 40px;
}

input[type="text"], input[type="password"], input[type="number"],input[type="email"] {
    padding-left: 10px;
}


/* sub */

#sub1 {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
}

#sub1 > h2 {
    text-align: center;
    font-size: 35px;
}
#sub_contents {
    margin-top: 20px;
}

.terms_lst>li {
    margin-bottom: 50px;
}

.terms_lst>li dt {
    font-size: 18px;
    font-weight: bold;
    color: #7b7b7b;
    margin-bottom: 13px;
}

.terms_lst>li dd {
    margin-top: 3px;
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
}

/* sub2 */
.privacy_main {
    margin-top: 20px;
}

.privacy_main>p {
    position: relative;
    padding: 11px 150px 12px 15px;
    border: 1px solid #d9d9d9;
    background-color: #f8f8f8;
    font-size: 13px;
    line-height: 26px;
    color: #797979;
}

.privacy_main>p:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 25px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    background: url(../resources/img/img_privacy.png) no-repeat;
}

.privacy_lst {
    line-height: 20px;
}

.privacy_lst>li:first-child {
    margin-top: 37px;
}

.privacy_lst>li {
    margin-top: 29px;
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.privacy_lst dt {
    position: relative;
    padding: 15px 0 12px 22px;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
    font-size: 15px;
    color: #414141;
}

.privacy_lst dd {
    padding: 13px 20px 17px;
    font-size: 13px;
    color: #414141;
    line-height: 25px;
}

.privacy_lst h5 {
    font-size: 13px;
    color: #414141;
    font-weight: normal;
}

.privacy_lst .person_info {
    text-align: center;
    border: 1px solid #e1e1e1;
    margin: 10px 0;
}

.privacy_lst .person_info dd .tbl_tit {
    display: table;
    width: 100%;
}

.privacy_lst .person_info dd .tbl_tit div {
    display: table-cell;
    padding: 10px 0;
    font-size: 13px;
    color: #414141;
}

.privacy_lst .person_info dd .tbl_txt {
    display: table;
    width: 100%;
}

.privacy_lst .person_info dd .tbl_txt .w15p {
    color: #414141;
}

.privacy_lst .person_info dd .tbl_txt div {
    display: table-cell;
    padding: 15px;
    font-size: 13px;
    color: #797979;
    border-top: 1px solid #e1e1e1;
    line-height: 1.7em;
}

.w15p {
    width: 15%;
}

.w27p {
    width: 27%;
    border-left: 1px solid #e1e1e1;
}

.txt_left {
    text-align: left;
}

/* sub3 */

.email_refusal_main {
    overflow: hidden;
    padding: 55px 45px 0;
    margin-bottom: 100px;
}

.email_refusal_main .img_refual {
    float: right;
    width: 29%;
}

.email_refusal_main .img_refual img {
    width: 100%;
    max-width: 219px;
    max-height: 165px;
}

.email_refusal_main .txt_refual {
    float: left;
    width: 61%;
    margin-right: 5%;
}

.email_refusal_main .txt_refual dt {
    font-size: 30px;
    color: #fb6e61;
}

.email_refusal_main .txt_refual dd {
    margin-top: 17px;
    font-size: 15px;
    line-height: 20px;
    color: #7b7b7b;
}


/* application */

#application {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
}

#application > h2 {
    text-align: center;
    font-size: 40px;
}

#applicationMain {
    display: flex;
    margin-top: 20px;
}

#applicationMain > div {
    width: 50%;
}

#applicationMain > div > h3 {
    background-color: #FF5E3C;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border: 1px solid #FF5E3C;
}

#applicationMain > div > h3:nth-child(1) {
    border-right: 1px solid white;
}

#applicationMain > div > div {
    padding: 20px;
    border-top: none;
    border: 1px solid #FF5E3C;
    height: 460px;
    width: 100%;
}

.appFileDown {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.appFileDown > button[type="button"] {
    width: 170px;
    height: 35px;
    background-color: #FF5E3C;
    border: 1px solid #FF5E3C;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}

.appFileDown > input[type="file"] {
    display: none;
}

.appFileDown > p {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(96, 96, 96);
    padding-bottom: 25px;
}

.appFileDown > label {
    color: #ff3c00;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.appFileDown > button[type="submit"] {
    width: 120px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #FF5E3C;
    color: #FF5E3C;
    margin-left: 10px;
    border-radius: 3px;
}

.appInput {
    margin-top: 20px;
}

.appInput > div {
    display: flex;
}

.appInput > div:nth-child(2), .appInput > div:nth-child(3) {
    margin-top: 20px;
}

.appInput > div > div {
    width: 22%;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgb(56, 56, 56);
}

.appInput > div > input {
    width: 40%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding-left: 5px;
}

.appInput > p {
    margin-top: 20px;
    font-size: 13px;
    color: #ff3c00;
    line-height: 1.4;
}

.appInput > button {
    margin-top: 25px;
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff3c00;   
    border: 1px solid #ff3c00;
    color: white;
    border-radius: 3px;
}

/* application end */

#volunteerInfo {
    margin: auto;
    margin-top: 40px;
    width: 1200px;
}

#volunteerInfo > h2 {
    font-size: 45px;
    text-align: center;
}

.volunteerInfoMain {
    overflow: hidden;
    background: url('../resources/img/volunteer1.png') no-repeat 100% 0;
    background-size: 60% auto;
    padding: 40px;
    margin-top: 30px;
}

.volunteerInfoMain h2 {
    font-size: 25px;
    font-weight: 500;
    color: #ff8400;
    letter-spacing: -0.02em;
    word-spacing: 0.03em;
}

.volunteerInfoMain h2 span {
    display: block;
    background: #ff8400;
    width: 180px;
    font-family: 'noto sans kr';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 1px 0 3px;
    margin-bottom: 5px;
}

.volunteerInfoMain p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 1.8;
    color: #414141;
    margin: 10px 0 70px;
}

.imgbox {
    margin: -50px 0 100px 0;
}

#volunteerInfo > div > p:nth-child(13) > b {
    font-size: 23px;
}

/* 사이트맵 */

#siteMap {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 100px;
}

#siteMap > h2 {
    text-align: center;
    font-size: 40px;
}

#siteMapMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 50px;
}

.siteArea > h3 {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    border: 6px solid #F0F0F0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    color: #3d454e;
    line-height: 55px;
}

.siteArea > div > a {
    display: block;
    padding: 9px 10px;
    border-bottom: 1px solid #e4e7ec;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #8f969c;
}

.alertBtn {
    cursor: pointer;
}

/* 아이디 찾기 */

#findId {
    width: 1200px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 140px;
}

#findId > h2 {
    text-align: center;
    font-size: 40px;
}

#findId > div {
    display: flex;
    margin-top: 40px;
}

#findId > div > div {
    width: 50%;
}

#findIdInput > div {
    display: flex;
}

#findIdInput > div:nth-child(2),#findIdInput > div:nth-child(3) {
    margin-top: 20px;
}

#findIdInput > div > div {
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 15px;
}

#findIdInput > div > input {
    width: 50%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#findIdInput > button {
    width: 160px;
    height: 30px;
    background-color: #ff3c00;
    border: 1px solid #ff3c00;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: calc(70% - 160px);
}

#findIdSerial > div:nth-child(1) {
    display: flex;
}

#findIdSerial > div:nth-child(1) > div {
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 15px;
}

#findIdSerial > div:nth-child(1) > input {
    width: 50%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#findIdSerial > button {
    width: 100px;
    height: 30px;
    background-color: #ff3c00;
    border: 1px solid #ff3c00;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: calc(70% - 100px);
}

.findIdSuccess {
    margin-top: 15px;
    font-size: 15px;
    color: #4c4c4c;
}

.findIdSuccess > span {
    font-size: 30px;
    font-weight: bold;
}

.findIdFail {
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

/* 아이디 찾기 */

/* 비번 찾기 */

#pwChange {
    width: 500px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 100px;
}

#pwChange > h2 {
    text-align: center;
    font-size: 40px;
}

#pwChange > form {
    margin-top: 40px;
}

#pwChange > form > div {
    display: flex;
    margin-top: 20px;
}

#pwChange > form > div > div {
    width: 30%;
    font-size: 16px;
}

#pwChange > form > div > input {
    width: 70%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

#pwChange > form > button {
    width: 120px;
    height: 30px;
    background-color: #ff3c00;
    color: white;
    border: 1px solid #ff3c00;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 20px;
}

#pwChange > #pwInput {
    margin-top: 50px;
}

/* 비번 찾기 */